<ion-header>
  <ion-toolbar>
    <ng-container *ngIf="hall$ | async as hall">
      <ion-title>{{hall.name}}</ion-title>
    </ng-container>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="Refresh()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ng-container *ngIf="hallstate$ | async as items">
      <ion-virtual-scroll [items]="items" approxItemHeight="150px">
        <ion-row *virtualItem="let item">

          <ion-col *ngFor="let orderontable of item" size=4>
            <ion-card mode='ios' *ngIf="orderontable.orders.length == 0" button  type="button" class="ion-no-padding ion-no-margin "
              routerLink="/order"
              [queryParams]="{'orderid': '', hallid: orderontable.hallid, tableid : orderontable.tableid}">
              <ion-card-header>
                <ion-card-title mode='md' class="ion-text-center">стол {{orderontable.tableid}}</ion-card-title>
                <ion-card-subtitle class="ion-text-center ion-no-margin"> ---
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <p> Новый заказ </p>
              </ion-card-content>
            </ion-card>


            <ion-card mode='ios'  *ngIf="orderontable.orders.length != 0"  class="ion-no-padding ion-no-margin ">
              <ion-card-header>
                <ion-card-title mode='md' class="ion-text-center">стол {{orderontable.tableid}}</ion-card-title>
                <ion-card-subtitle mode='md' class="ion-text-center ion-no-margin"> Всего {{ orderontable.orders.length + 1}} </ion-card-subtitle>
              </ion-card-header> 
              <ion-card-content>
              <ion-item color="tertiary">
                <ion-label  class="text-small ion-text-center fool-width pr-5" > Выбрать </ion-label>
                <ion-select  #select
                           
                           (ionChange)="OnOrderSelected({'orderid': select.value.orderid , hallid: orderontable.hallid, tableid : orderontable.tableid}); select.value=undefined; select.selectedText = ''"
                           [compareWith]="OrderCompare"
                           okText="OK"
                           cancelText="Cancel"
                           interface="alert"
                           multiple="false" >
                  <ion-select-option class="ion-text-wrap" *ngFor="let order of orderontable.orders"  [value]="order">
                    
                    <small>{{ order.orderheader.waitername }} \ поз. {{ order.orderheader.quantity }} \ сум. {{ order.orderheader.summ }}</small>
                    
                    
                    
                    
                    
                  </ion-select-option>
                  <ion-select-option value="{orderid : ''}">  Новый заказ </ion-select-option>
                </ion-select>
              </ion-item>
              </ion-card-content>
            </ion-card>


            <!-- <ion-slides #slider *ngIf="orderontable.orders.length != 0">
              <ion-slide *ngFor="let order of orderontable.orders">
                <ion-card mode='ios' button type="button" class="ion-no-padding ion-no-margin slidecontent" routerLink="/order"
                  [queryParams]="{'orderid': order.orderid, hallid: orderontable.hallid, tableid : orderontable.tableid}">
                  <ion-card-header>
                    <ion-card-title mode='md' class="ion-text-center"> order {{orderontable.orders.indexOf(order)+1 }} /
                      {{orderontable.orders.length}} </ion-card-title>
                    <ion-card-subtitle class="ion-text-center ion-no-margin">summ {{order.orderheader.summ }}
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content class="ion-text-center">
                    <p>{{ order.orderheader.waitername }}</p>
                    <p> items {{ order.orderheader.quantity }}</p>
                    <p><small>{{ order.orderheader.modified }} </small></p>
                    <p><small>{{ order.orderheader.status }} </small></p>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
              <ion-slide>
                <ion-card mode='ios' button type="button" class="ion-no-padding ion-no-margin " routerLink="/order"
                  [queryParams]="{'orderid': '', hallid: orderontable.hallid, tableid : orderontable.tableid}">
                  <ion-card-header>
                    <ion-card-title mode='md' class="ion-text-center">table {{orderontable.tableid}}</ion-card-title>
                    <ion-card-subtitle class="ion-text-center ion-no-margin"> ---
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content class="ion-text-center">
                    <p> new order </p>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
            </ion-slides> -->
          </ion-col>

        </ion-row>
      </ion-virtual-scroll>
    </ng-container>
  </ion-grid>


</ion-content>
