<ion-header>
  <ion-toolbar  color='light'>
    <ion-title class="text-smaller"> {{(hall$ | async).name }} / {{ table }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="NextOrder(-1)">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="NextOrder(0)">new</ion-button>
      <ion-button color="primary" (click)="NextOrder(1)">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color='light' *ngIf="totals">
    <ion-title  class="text-smaller" color='medium' slot="start">
      <h6 class="my-5"> ver. {{version}} </h6>
      <h6 class="my-5"><small>{{ lastGajet }}</small></h6>
    </ion-title>
    <ion-title  class="text-smaller" color='primary' slot="end">
      <h5 class="my-5"> Итого {{totals.summ}} </h5>
      <ng-container *ngIf="totals.discountname">
        <h5 class="text-smallx my-5">{{totals.discountname}}</h5>
        <h5 class="text-smallx my-5"> Знижка {{totals.discountsumm}} </h5>
      </ng-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-fab vertical="center" horizontal="end"  slot="fixed">
   
    <ion-fab-button color='medium' class="fab"><ion-icon name="search-outline" ></ion-icon> </ion-fab-button>
    <ion-fab-button color='medium' class="fab"><ion-icon name="chevron-back-outline" ></ion-icon> </ion-fab-button>
    <ion-fab-button color='medium' class="fab"><ion-icon name="home-outline" ></ion-icon> </ion-fab-button>

  </ion-fab> -->
  <ng-container *ngIf="items$ | async as items">
  <ion-list >
    <ion-virtual-scroll [items]="items" approxItemHeight="70px" [trackBy]="trackByOrderitemFn" [itemHeight]="itemHeightFn">
      <!-- *ngFor="let item of items; trackBy:trackByOrderitemFn" -->
      <ion-item button *virtualItem="let item"   [disabled]="item.isCanceled">
      <ion-label button appDebounceClick (debounceClick)=OpenEditRowDialog(item) class="ion-text-wrap">
        
        <p>{{item.quantityprint}} {{item.goodname}} </p>

        <p>
          <ion-text color="medium">  {{item.price}} \ </ion-text> <ion-text  color="dark">  {{item.summ}}</ion-text>
          
          <span class="text-accent">
          <ion-icon color="danger" *ngIf="item.isexcise" class="pl" slot="start" name="cash-outline"></ion-icon>
          <ion-icon color="danger" *ngIf="item.quantityprint != item.quantity" class="pl" slot="start"
            name="print-outline"></ion-icon>
          <ion-icon color="danger" *ngIf="item.isprecheck" class="pl" slot="start" name="close-outline"></ion-icon>
          <ion-icon color="danger" *ngIf="item.isChanged" class="pl" slot="start" name="pencil-outline"></ion-icon>
          <ion-icon color="danger" *ngIf="item.isCanceled" class="pl" slot="start" name="close-circle-outline"></ion-icon>
          
          </span>
        </p>
      </ion-label>


      <ion-note class="ml pt-10" slot="end" >
        <h5>
          <ion-buttons>
            <ion-button (click)=AddQountity(1,item,$event) size='small' slot='icon-only'> <ion-icon name="add-circle-outline"></ion-icon></ion-button>
            {{item.quantity}}
            <ion-button (click)=AddQountity(-1,item,$event) size='small' slot='icon-only'> <ion-icon name="remove-circle-outline"></ion-icon></ion-button>
          </ion-buttons>  
        </h5>
      </ion-note>

      <!-- <ion-note class="ml" slot="end" color="primary">
        <h5>{{item.summ}} </h5>
      </ion-note> -->
      <ion-checkbox class="ml-10" disabled=false #el [checked]="item.isSelected == undefined ? false : item.isSelected"
        (ionChange)=OnItemSelected(item,el.checked) slot="end"></ion-checkbox>

      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
  </ng-container> 

 

</ion-content>

<ion-footer>
  <!-- <ion-button fill='solid' expand='block' color='primary' (click)="ShowActions()"> Actions</ion-button> -->
  <ion-toolbar color='light'>
    <!-- <ion-buttons slot="start">
      <ion-button color='primary' (click)="ShowActions()"> Actions</ion-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-nav-link  [component]="AnketaComp" router-direction='forward' componentProps='{}'>
        <ion-button>анкета</ion-button>
      </ion-nav-link>


      <ion-nav-link  #navlinkmenu [component]="MenuComp" router-direction='forward' [componentProps]="MenuProps">
        <ion-button>меню</ion-button>
      </ion-nav-link>

    </ion-buttons>
    
    <ion-buttons slot="end">
      
      <!-- <ion-button color='primary' (click)="ShowActions()"> Действия </ion-button> -->

      <!-- <ion-fab-button (click)="ShowActions()"   color='primary' class="fab rotate-180"><ion-icon name="keypad-outline"></ion-icon> </ion-fab-button> -->
      <ion-button  (click)="ShowActions()" class="text-accent rotate-180" size='large' expand='block' color='primary' > <ion-icon name="keypad-outline"></ion-icon></ion-button>
      <ion-button  (click)=" GoBack()" class="text-accent" size='large' expand='block' color='danger' > <ion-icon name="close-outline"></ion-icon></ion-button>
      <ion-button  (click)="OnOrderActionClick('Печать'); GoBack()" class="text-accent" size='large'  color='success' > <ion-icon  name="checkmark-outline"></ion-icon></ion-button>
 
    </ion-buttons>
  </ion-toolbar>

</ion-footer>

 <!-- <ion-slides #slider>
    <ion-slide>
      <ion-toolbar *ngIf="totals">
      
        <ion-title color='medium' slot="start"><h6>  ver. {{version}}   </h6> <h6><small>{{ lastGajet }}</small></h6> </ion-title>
        <ion-title color='primary' slot="end"><h5> Итого {{totals.summ}} </h5> 
        
        <ng-container *ngIf="totals.discountname">
          <h5>{{totals.discountname}}</h5> 
          <h5> Знижка {{totals.discountsumm}}  </h5>
        </ng-container>  
      </ion-title>
      </ion-toolbar>
      <ion-list *ngIf="items$ | async as items">
        <ion-item button *ngFor="let item of items" (click)=OpenEditRowDialog(item) [disabled]="item.isCanceled">
          <ion-checkbox disabled=false  #el  [checked]="item.isSelected == undefined ? false : item.isSelected" (ionChange)=OnItemSelected(item,el.checked) slot="start"></ion-checkbox>
          <ion-label class="ion-text-wrap"> 
             <p>{{item.quantityprint}} {{item.goodname}}  </p> 
             
             <p>
              <ion-text color="medium"> ціна  {{item.price}}</ion-text>
              <ion-icon color="danger" *ngIf="item.isexcise" class="pl" slot="start" name="cash-outline"></ion-icon>
              <ion-icon color="danger" *ngIf="item.quantityprint != item.quantity" class="pl" slot="start" name="print-outline"></ion-icon>
              <ion-icon color="danger" *ngIf="item.isprecheck" class="pl" slot="start" name="close-outline"></ion-icon>
              <ion-icon color="danger" *ngIf="item.isChanged" class="pl" slot="start" name="pencil-outline"></ion-icon>
              <ion-icon color="danger" *ngIf="item.isCanceled" class="pl" slot="start" name="close-circle-outline"></ion-icon>
            </p>
          </ion-label>
          
          <ion-note class="ml my-5" slot="end" color="tertiary">

            
            <h5>{{item.quantity}}</h5>
            
          </ion-note>
          
          <ion-note class="ml" slot="end" color="primary">
            <h5>{{item.summ}} </h5>
            
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      
     
      
      <menu-list (MenuElementSelect)="OnMenuElementSelect($event)" style="height: 100%;"></menu-list>
    </ion-slide>

    <ion-slide>
      
      <ion-toolbar>
        <ion-title>Anketa</ion-title>
      </ion-toolbar>
      <form [formGroup]="form">
        <ion-grid>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
              <ion-item>
                <ion-label position="stacked"> Guests Quontity </ion-label>
                <ion-input formControlName="GuestsQuontity" clear-input=true inputmode="decimal"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
              <ion-item>
                <ion-label position="stacked">Feed back </ion-label>
                <ion-input formControlName="FeedBack" clear-input=true inputmode="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
              <ion-button fill='solid' expand='block' color='primary'> Save</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      
    </ion-slide>
  </ion-slides> -->
