<ion-header>
  <ion-toolbar>
    <ion-title>Авторизация </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content >
 

  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="stacked"> ввести пароль </ion-label>
            <ion-input (ionFocus)=OnInputFocus($event) (keyup.enter)="OnPasswordLeave($event)" #passinputid type="password"  formControlName="password" clear-input=true inputmode="decimal" required></ion-input>
            
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>

<ion-footer>
  <ion-button fill='solid' expand='block' color='tertiary'  (click)="LogginWithCard()"> Скан. карту доступа</ion-button>
  
  <ion-toolbar color='light'>
    <ion-buttons slot="end">
      
      <ion-button routerLink="/home/block-app"> Отмена</ion-button>
      <ion-button (click)="ActivatePass()"> Ввести пароль </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
