

ion-list {
    overflow-y: auto;
}

.py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.px-5 {
    padding-left: 5px;
    padding-right: 5px;
}


.ml {
    margin-left: 8px;
  }

.pr-4 {
    padding-right: 4px;
}

.mr-5 {
    padding-right: 5px;
}

.text-accent {
    font-size: larger;
    font-weight: bolder;
}



.pl-4 {
    padding-left: 4px;
} 

.w-100 {
    width: 100%;
    max-width: 100%;
}

