
  

  <ion-tabs >
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="halls">
        <!-- <ion-icon name=""></ion-icon> -->
        <ion-label>halls</ion-label>
        
      </ion-tab-button>
  
      <ion-tab-button tab="reports">
        <!-- <ion-icon name=""></ion-icon> -->
        <ion-label>reports</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="block-app">
        <!-- <ion-icon name=""></ion-icon> -->
        <ion-label>block</ion-label>
      </ion-tab-button>
  
     
    </ion-tab-bar>
  </ion-tabs>

